.container-checkbox-item {
    display: flex;
    padding: 0 0 8px 0;
}

.container-item hr {
    border: 1px solid #A8DADC;
}

.container-item:last-child hr {
    display: none;
}

.checkbox-item {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #1D3557;
    max-width: 400px;
    min-width: 400px;
}

.checkbox-item--completed {
    text-decoration: line-through;
}


.checkbox-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-item .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-item:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-item input:checked ~ .checkmark {
    background-color: #457B9D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-item input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-item-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 52px;
    min-width: 12px;
    color: #1D3557;
}

.action {
    font-family: 'Material Icons', serif;
    font-size: 22px;
    cursor: pointer;
    position: relative;
}

.action:hover {
    color: #A8DADC;
}

.action.action--delete:hover {
    color: #E63946;
}

.action:active {
    left: 2px;
    bottom: -2px;
}
